.bg-primary {
	background-color:#005883 !important;
	background-image:url("./images/logo.unad.png");
	background-position:top left;
	background-size: contain;
	background-repeat: no-repeat;
	height:100px;
	padding-left:130px;
}
body {
	padding-top: 50px;
}
section {
	padding-bottom:160px;
	padding-top:160px;
}
